{% extends 'base.html' %}
{% load static %}

{% block page_name %}Deck{% endblock %}


{% block page_styles %}
<style>
    body {
        background: url({% static '/app/background_grass.jpg' %}) no-repeat center center fixed;
    }
</style>
{% endblock %}


{% block header %}
    {{ user.username}}'s Deck
    <span style="float:right;">
        <a class="btn btn-secondary" href="{% url 'new-offer' %}">New Offer</a>
    </span>
{% endblock %}

{% block content %}

<h4 class="text-center">Credits: {{ deck.credits }}</h4>

<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
  <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
  {% endif %}
  {% for i in paginator.page_range %}
  {% if page_obj.number == i %}
  <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
  {% else %}
  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
  <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
  {% endif %}
</ul>

<div class="row">
{% for card in page_obj %}
<div class="card m-2" style="width: 22rem;">
    <img class="card-img-top" src="{{ card.player.image }}" onerror="this.onerror=null;this.src='/media/player_pics/dimaggio.jpg';">
    <div class="card-body">
        <h2>{{ card.player.name }}</h2>
        {% if card.signed %}
        <img src="/static/app/Signature.png" alt="signature">
        {% endif %}
        <p>Team: {{ card.player.team }}<br>
        <strong>Position: {{ card.player.position }}</strong>
        {% if card.player.position.pk == 'P' %}
        &nbsp;&nbsp;&nbsp;&nbsp;Throws: {{ card.player.pitcherstats.throws }}
        {% endif %}</p>
        
        <table class="table table-bordered">
            <thead class=thead-dark>
                <tr>
                    <th colspan="2">STATS</th>
                </tr>
            </thead>
            <tbody>
        {% if card.player.position.pk == 'P' %}
            <tr>
                <td>ERA</td>
                <td>{{ card.player.pitcherstats.era }}</td>
            </tr>
            <tr>
                <td>K per 9</td>
                <td>{{ card.player.pitcherstats.k_per_9 }}</td>
            </tr>
            <tr>
                <td>Walks per 9</td>
                <td>{{ card.player.pitcherstats.bb_per_9 }}</td>
            </tr> 
            <tr>
                <td>K to Walks</td>
                <td>{{ card.player.pitcherstats.k_bb }}</td>
            </tr>            
            <tr>
                <td>Total Innings</td>
                <td>{{ card.player.pitcherstats.innings }}</td>
            </tr
        {% else %}
        <tr>
            <td>Batting Average</td>
            <td>{{ card.player.hitterstats.avg }}</td>
        </tr>
        <tr>
            <td>Slugging</td>
            <td>{{ card.player.hitterstats.slg }}</td>
        </tr>
        <tr>
            <td>OPS</td>
            <td>{{ card.player.hitterstats.ops }}</td>
        </tr>
        <tr>
            <td>Hits</td>
            <td>{{ card.player.hitterstats.hits }}</td>
        </tr>
        <tr>
            <td>RBI</td>
            <td>{{ card.player.hitterstats.rbi }}</td>
        </tr>
        <tr>
            <td>Strikeouts</td>
            <td>{{ card.player.hitterstats.so }}</td>
        </tr>

        {% endif %}
            </tbody>
        </table>

    </div>
</div>
{% endfor %}
</div>
{% endblock %}

